.hero{
    min-height: 100vh;
    z-index: 8;
    background-image: url("../../../public/imgs/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
}
.hero.ar{
    direction: rtl;
    font-family: "Tajawal", sans-serif;
}
.hero::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--logo-color);
    opacity: 0.9;
    z-index: -1;
}
.hero.ar::before{
}
.hero::after{
    position: absolute;
    content: "";
    left: -50%;
    top: 50%;
    height: 300%;
    width: 100%;
    background-color: var(--main-color);
    transform: translateY(-50%) rotateZ(30deg);
    z-index: -1;
}
.hero.ar::after{
    left: unset;
    right: -50%;
    transform: translateY(-50%) rotateZ(-30deg);
}
.hero h1{
    font-size: 80px;
    color: var(--logo-color);
}
.hero p{
    color: #fff;
    width: 50%;
}
@media (max-width: 1200px) {
    .hero{
        text-align: center;
    }   
    .hero::before{
        opacity: 0.3;
    }
    .hero::after{
        transform: translateX(50%) translateY(-50%) rotateZ(45deg);
        opacity: 0.95;
    }
    .hero.ar::after{
        transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
    }
    .hero p{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .hero{
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero::after{
        width: 150%;
        transform: translateX(20%) translateY(-50%) rotateZ(45deg);
        opacity: 1;
    }  
    .hero.ar::after{
        transform: translateX(-20%) translateY(-50%) rotateZ(-45deg);
    }  
    .hero h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .hero p{
        font-size: 14px;
        line-height: 1.6;
    }
}