.parent *{
    font-family: "Poppins", sans-serif;
}.parent.ar *{
    font-family: "Tajawal", sans-serif;
}
.floatContact{
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 17;
    background-color: transparent;
    transition: var(--main-transition);
    transition-timing-function: ease-in-out;
    transition-delay: 0.4s;
}
.floatContact *{
    pointer-events: none;
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}

.parent:has(.floatContact:hover) .overlay,
.overlay.shown{
    display: block;
}
.floatContact.active,
.floatContact:hover{
    right: 150px;
    transition-delay: 0s;
}
.floatContact.active *,
.floatContact:hover *{
    pointer-events: unset;
}
.floatContact > svg{
    font-size: 30px; 
    aspect-ratio: 1;
    /* width: 50px; */
    background-color: var(--main-color);
    /* height: 50px; */
    box-shadow: var(--main-shadow);
    color: #fff;
    border-radius: 50%;
    padding: 14px;
}
.floatContact > div{
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    padding: 0px 10px;
    z-index: -1;
    transition: var(--main-transition);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    opacity: 0;
}
.floatContact > div:first-of-type{
    border-radius: 0px 6px 6px 0px;
    transform: translateY(-50%) translateX(-50px);
    left: 100%;
}
.floatContact > div:last-of-type{
    border-radius: 6px 0px 0px 6px;
    transform: translateY(-50%) translateX(50px);
    right: 100%;
    flex-direction: row-reverse;
}
.floatContact:hover > div,
.floatContact.active > div{
    transform: translateY(-50%) translateX(0px);
    transition-delay: 0.4s;
    opacity: 1;
}
.floatContact > div span{
    color: var(--main-color);
    height: 35px;
    width: 35px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--main-shadow);
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--main-color);
}
.floatContact > div div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.floatContact > div div a{
    flex: 1;
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    padding: 4px 10px;
    box-shadow: var(--main-shadow);
    border-radius: 6px;
    width: 80px;
}
@media (max-width: 600px) {
    .floatContact{
        right: 20px;
        bottom: 70px;
    }
    .floatContact > svg{
        font-size: 20px;
    }
}
