.hero{
    margin-top: 80px;
    background-image: var(--main-gradient);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.hero.ar{
    font-family: "Tajawal", sans-serif;
}
@media (max-width: 767px) {
    .hero{
        font-size: 22px;
    }
}