
.logo{
    width: 140px;
    height: 70px;
    display: flex;
    align-items: center;
    font-family: "Tajawal", sans-serif;
    justify-content: center;
}
.logo h3{
    font-size: 24px;
    background-color: var(--main-color);
    box-shadow: var(--sec-shadow);
    color: var(--header-bg);
    padding: 0px 20px 5px;
    border-radius: 10px 0px;
}
.logo img{
    object-fit: contain;
}