.productsGrid .filter{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--logo-color);
    width: fit-content;
    height: 28px;
    /* border-radius: 6px; */
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--main-color);
    color: #fff;
    box-shadow: var(--main-shadow), var(--sec-shadow);
}
.productsGrid.ar .filter{
}
.productsGrid .filter input{
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
}
.productsGrid .filter label{
    padding: 4px 10px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: var(--main-transition);
    transition-duration: 0.1s;
}
.productsGrid.ar .filter div:nth-child(1) label{
    font-size: 18px;
}
.productsGrid.ar .filter div:nth-child(2) label{
    font-size: 18px;
}
.productsGrid.ar .filter div:nth-child(3) label{
    font-size: 18px;
}
.productsGrid .filter label:hover,
.productsGrid .filter div:has(input:checked) label{
    background-color: var(--logo-color);
    border-bottom: 3px solid var(--main-color);
}
@media (max-width: 500px) {
    .productsGrid .filter{
        margin-right: auto;
        margin-left: auto;
    }
}