.productCards{
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    row-gap: 30px;
    column-gap: 20px;
}
@media (max-width: 1200px) {
    .productCards{
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
}
@media (max-width: 992px) {
    .productCards{
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
}
@media (max-width: 767px) {
    .productCards{
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}
@media (max-width: 550px) {
    .productCards{
        grid-template-columns: repeat(1, minmax(150px, 1fr));
    }
}
.productCards > a{
    /* width: 250px; */
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    box-shadow: var(--main-shadow), var(--sec-shadow);
    transition: var(--main-transition);
    /* border-radius: 10px; */
}
.productCards > a:hover{
    color: var(--logo-color);
}
.productCards > a .cardImg{
    transition: var(--main-transition);
    /* width: 250px; */
    aspect-ratio: 1/1;
    /* border-radius: 6px; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); */
    border: 1px solid #aaaaaa;
    padding: 30px;
}
.productCards > a .cardImg img{
    transition: var(--main-transition);
    height: 250px;
    object-fit: contain;
}
.productCards > a:hover .cardImg img{
    transform: scale(1.05);
}
.productCards > a p{
    /* margin-top: 10px; */
    width: 100%;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    /* border-radius: 0px 0px 6px 6px; */
    /* box-shadow: var(--sec-shadow); */
}

@media (max-width: 550px) {
    .productCards > a{
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        /* gap: 20px; */
        width: 100%;
    }
    .productCards > a.odd{
        background-color: #ffeeff;
    }
    .productCards > a .cardImg{
        width: 250px;
        padding: 10px;
        background-color: var(--bg-color);
    }
    .productCards > a .cardImg img{
        object-fit: contain;
    }
    .productCards > a p{
        height: 100%;
        background-color: transparent;
        color: var(--text-color);
        text-align: center;
        align-content: center;
    }
}